body {
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.btn {
  color: #c30e42;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
}

.btn--primary {
  border-radius: 26px;
  background-color: #c30e42;
  color: #fff;
  padding: 9px 27px;
  transition: 0.3s background-color ease-in-out;

  &:hover {
    background-color: #141650;
  }
}

.text--color {
  color: #c30e42;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 30px 100px;
  position: relative;
  z-index: 2;

  &__group {
    display: flex;
    align-items: flex-end;
  }

  &__logo {
    .logo__img {
      display: block;
    }
  }

  .menu--mobile {
    display: none;
  }

  &__nav {
    &.menu--desktop {
      display: block;
    }

    .nav__list {
      display: flex;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 500;

      .list--item {
        margin-left: 50px;

        a {
          position: relative;

          &::after {
            position: absolute;
            bottom: -5px;
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background-color: #af0f46;
            transition: width 0.3s;
          }

          &:hover {
            &::after {
              width: 100%;
            }
          }
        }

        &.active {
          a {
            &::after {
              position: absolute;
              bottom: -5px;
              content: '';
              display: block;
              width: 100%;
              height: 2px;
              background-color: #af0f46;
              transition: width 0.3s;
            }
          }
        }
      }
    }
  }

  &__social {
    display: flex;
    z-index: 2;

    a {
      margin: 0 5px;
    }

    .social__img {
      display: block;
    }
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  /* for edge cases: */
  width: 100%;
  max-width: 100%;
}

@media screen and (max-width: 960px) {
  .header {
    padding: 30px 40px;

    .header__social {
      display: none;
    }
  }

  .header__nav.menu--desktop {
    display: none;
  }

  .show-mobile {
    display: initial !important;
  }

  .hamburger {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    margin-right: 20px;
  }

  .hamburger:focus>.hamburger__container {
    box-shadow: 0 0 2px 2px #51a7e8
  }

  .hamburger__container {
    display: flex;
    align-items: center;
    position: relative;
    width: 35px;
    height: 30px
  }

  .hamburger__bars {
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: #000;
    transition: transform 220ms ease-in-out
  }

  .hamburger__bars:before,
  .hamburger__bars:after {
    display: block;
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: #000;
    content: ''
  }

  .hamburger__bars:before {
    top: -12px;
    transition: top 100ms 250ms ease-in, transform 220ms ease-in-out
  }

  .hamburger__bars:after {
    bottom: -12px;
    transition: bottom 100ms 250ms ease-in, transform 220ms ease-in-out
  }

  .hamburger--active .hamburger__bars {
    transform: rotate(225deg);
    transition: transform 220ms 120ms ease-in-out
  }

  .hamburger--active .hamburger__bars:before {
    top: 0;
    transition: top 100ms ease-out
  }

  .hamburger--active .hamburger__bars:after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 100ms ease-out, transform 220ms 120ms ease-in-out
  }

  .hamburger:focus,
  .hamburger__container:focus {
    outline: none
  }

  #mobile-menu {
    position: absolute;
    left: 0;
    top: 94px;
    width: 100%;
    z-index: 999;
  }

  .menu--mobile .list--item {
    display: block;
    text-align: center;
    background: #c30e42;
    padding: 10px 0;
    border-bottom: 1px solid #a10a35;
    color: #fff;
    margin: 0
  }

  .menu--mobile .list--item a:hover {
    color: inherit;
    background-color: inherit;
    padding: inherit;
  }
}


@media (min-width: 768px) {
  .container {
    width: 750px;
  }


}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }

}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}